#word{
  width: 20%;
  display: inline-block;
  margin-right: 10px;
}
#maxRes{
  width: 20%;
  display: inline-block;
  margin-right: 10px;
}
button.btn{
  margin-bottom: 5px;
}
ul.col-12{
  padding-top: 50px;
}
.bordered{
  border: solid black 2px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}
